{% extends "base.html" %}

{%block content%}

<h2 style="margin-top: 3em" class="text-center">{{course[1]}}</h2>

<nav class="nav" style="margin-top: 3em; margin-left: 2em">
    {%for type in types%}
      <a class="nav-link" href="/course/{{course[0]}}/{{type}}">№{{type}}</a>
    {%endfor%}
</nav>
<main class="{{theme}}">

    <div class="container {{theme}}">
        <h3>№ {{course[2]}}</h3>
        <h4>Видеоурок по теме</h4>
        <iframe
          src="{{course[3]}}" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen
          style="width: 60vw; height: 60vh">
        </iframe>
        <hr>
        <br>

        <h4>Отработка задания</h4>
        <a href="/test/{{course[2]}}" class="btn btn-primary tea" style="width:fit-content; background: #7C4935; border: none; margin-bottom: 0.1em; -bottom: 1em">Тест</a>
        {%if course[7] != None%}
        <hr>
        <br>
        <h4>Методические материалы</h4>
        <embed src="{{url_for('static', filename=course[7])}}" width="1000px" height="800px"/>
        <hr>
        <br>
        {%endif%}
        {%if course[4] != None%}
        <h4>Текстовая версия</h4>
        <p>{{course[4]|safe}}</p>
        <hr>
        <br>
        {%endif%}
        {%if course[6] != None%}
        <h4>Код для задачи</h4>
        <pre><code class="language-{{course[5]}}">{{course[6]}}</code></pre>
        <hr>
        <br>
        {%endif%}

    </div>
</main>
{%endblock%}