{% extends "base.html" %}

{%block content%}
  <main class="{{theme}}">
      <div class="container {{theme}}">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
              {%for course in courses%}
              <div class="card mb-3 {{theme}}"  style="width: 18rem;">
                <div class="card-body" style="">
                  <p class="card-text">{{course[1]}}</p>
                  <p class="card-text">{{course[2]}}</p>
                    <div class="btn-group">
                        <a href="/course/{{course[0]}}/1" class="btn btn-primary tea" style="background: #E65B9A; border: none; margin-bottom: 0.1em; -bottom: 1em">Смотреть</a>
                        {%if current_user.is_authenticated%}
                        <a href="/enter/{{course[0]}}" class="btn btn-primary tea" style="background: #E65B9A; border: none; margin-bottom: 0.1em; -bottom: 1em">Записаться</a>
                        {%endif%}
                    </div>

                </div>
              </div>
              {%endfor%}
              <div class="card mb-3 {{theme}}"  style="width: 18rem;">
                <div class="card-body" style="">
                  <p class="card-text">Архив</p>
                  <p class="card-text">Что сказать? Архив он и есть архив</p>
                    <div class="btn-group">
                        <a href="/course/archive" class="btn btn-primary tea" style="background: #E65B9A; border: none; margin-bottom: 0.1em; -bottom: 1em">Смотреть</a>
                    </div>

                </div>
              </div>
          </div>
    </div>
  </main>
{%endblock%}