{% extends "base.html" %}

{%block content%}
<div class="container">
    <main>
        <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: {{color}}; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px; margin-top: 120px !important;">
              <div class="btn-group-vertical">
                {% if bright %}
              <a role="button" href="/error" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark text-body" data-mdb-ripple-color="dark" style="z-index: 1; margin-bottom: 0 !important;">
                Редактировать
              </a>
              <a role="button" href="/error" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark text-body" data-mdb-ripple-color="dark" style="z-index: 1;">
                Как я выгляжу?
              </a>
                {%else%}
                <a  role="button" href="/error" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light" data-mdb-ripple-color="light" style="z-index: 1; margin-bottom: 0 !important;">
                Редактировать
              </a>
              <a  role="button" href="/error" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light" data-mdb-ripple-color="light" style="z-index: 1;">
                Как я выгляжу?
              </a>
                {%endif%}
                </div>
            </div>
            {% if bright %}
            <div class="ms-3" style="margin-top: 130px; color: black;">
              <h5>{{name}} {{surname}}</h5>
            </div>
            {%else%}
            <div class="ms-3" style="margin-top: 130px; color: white;">
              <h5>{{name}} {{surname}}</h5>
            </div>
            {%endif%}
          </div>
          <div class="card-body p-4 text-black {{theme}}">
            <div class="mb-5  text-body {{theme}}">
              <p class="lead fw-normal mb-1">Обо мне</p>
              <div class="p-4 bg-body-tertiary">
                <p class="font-italic mb-1">Username: {{username}}</p>
                {%if email != ""%}
                <p class="font-italic mb-1">Email: {{email}}</p>
                {%endif%}
                {%if tel != ""%}
                <p class="font-italic mb-1">Phone number: {{phone}}</p>
                {%endif%}
              </div>
            </div>
            {%if courses|length != 0 or mycourses|length != 0%}
            <hr>
            <div class="courses {{theme}}">
              {%if courses|length != 0%}
              <h4>Мои курсы (я учитель)</h4>
              {%for c in courses%}
              <div class="card mb-3 {{theme}}"  style="width: 18rem;">
                <div class="card-body" style="">
                  <h5 class="card-title">{{c[1]}}</h5>
                  <p class="card-text">{{c[2]}}</p>
                    <div class="btn-group">
                        <a href="/course/{{c[1]}}/1" class="btn btn-primary tea" style="background: #E65B9A; border: none; margin-bottom: 0.1em; -bottom: 1em">Смотреть</a>
                    </div>
                </div>
              </div>
              {%endfor%}
              <hr>
              {%endif%}
              {%if mycourses|length != 0%}
            <div class="courses {{theme}}">
              <h4>Мои курсы (я ученик)</h4>
              {%for c in mycourses%}
              <div class="card mb-3 {{theme}}"  style="width: 18rem;">
                <div class="card-body" style="">
                  <h5 class="card-title">{{c[2]}}</h5>
                  <p class="card-text">{{c[3]}}</p>
                    <div class="btn-group">
                        <a href="/course/{{c[1]}}/1" class="btn btn-primary tea" style="background: #E65B9A; border: none; margin-bottom: 0.1em; -bottom: 1em">Смотреть</a>
                    </div>
                </div>
              </div>
              {%endfor%}
            </div>
              <hr>
              {%endif%}
            </div>

            {%endif%}
            <a href="" class="btn btn-primary tea">Добавить курс</a>
            {%if works|length != 0 or myworks|length != 0%}
            <hr>
            <div class="works {{theme}}">
              {%if works|length != 0%}
              <h4>Мои работы (я составитель)</h4>
              {%for c in works%}
              <div class="card mb-3 {{theme}}"  style="width: 18rem;">
                <div class="card-body" style="">
                  <p class="card-text">{{c[2]}}</p>
                    <div class="btn-group">
                        <a href="/test/{{c[0]}}" class="btn btn-primary tea" style="background: #E65B9A; border: none; margin-bottom: 0.1em; -bottom: 1em">Смотреть</a>
                    </div>
                </div>
              </div>
              {%endfor%}
              <hr>
              {%endif%}
              {%if myworks|length != 0%}
            <div class="courses {{theme}}">
              <h4>Мои работы (я ученик)</h4>
              {%for c in myworks%}
              <div class="card mb-3 {{theme}}"  style="width: 18rem;">
                <div class="card-body" style="">
                  <h5 class="card-title">id : {{c[0]}}</h5>
                  <p class="card-text">{{c[1]}}</p>
                    <div class="btn-group">
                        <a href="/test/{{c[0]}}" class="btn btn-primary tea" style="background: #E65B9A; border: none; margin-bottom: 0.1em; -bottom: 1em">Смотреть</a>
                    </div>
                </div>
              </div>
              {%endfor%}
            </div>

              {%endif%}
            </div>

            {%endif%}
            <hr>
            <a href="/addTest" class="btn btn-primary tea">Добавить работу</a>

            {%if groups|length != 0 or mygroups|length != 0%}
            <hr>
            <div class="groups {{theme}}">
              {%if groups|length != 0%}
              <h4>Мои группы (я учитель)</h4>
              {%for c in groups%}
              <div class="card mb-3 {{theme}}"  style="width: 18rem;">
                <div class="card-body" style="">
                  <h5 class="card-title"> {{c[1]}}</h5>
                    <div class="btn-group">
                        <a href="/dashboard/{{c[0]}}" class="btn btn-primary tea" style="background: #E65B9A; border: none; margin-bottom: 0.1em; -bottom: 1em">Смотреть</a>
                    </div>
                </div>
              </div>
              {%endfor%}
              <hr>
              {%endif%}
              {%if mygroups|length != 0%}
            <div class="courses {{theme}}">
              <h4>Мои группы (я ученик)</h4>
              {%for c in mygroups%}
              <div class="card mb-3 {{theme}}"  style="width: 18rem;">
                <div class="card-body" style="">
                  <p class="card-text">{{c[1]}}</p>
                    <div class="btn-group">
                        <a href="/dashboard/{{c[0]}}" class="btn btn-primary tea" style="background: #E65B9A; border: none; margin-bottom: 0.1em; -bottom: 1em">Смотреть</a>
                        <a href="/my_group/{{c[0]}}" class="btn btn-primary tea" style="background: #E65B9A; border: none; margin-bottom: 0.1em; -bottom: 1em">Мои результаты</a>
                    </div>
                </div>
              </div>
              {%endfor%}
            </div>
              {%endif%}

            </div>
            {%endif%}
            <hr>
            <a href="/add_group" class="btn btn-primary tea">Добавить группу</a>
            <hr>
            {%if res|length != 0%}
            <div class="res {{theme}}" style="height:fit-content">
              <details>
              <summary><h5>Общие результаты</h5></summary>

              <details>
              <summary class="toggle"><span>Фильтры:</span></summary>
              <form method="POST">
                <h5>За последние:</h5>
                  <div class="row g-0">
                <div class="my-3 col-4">
                <div class="">
                  <label class="form-check-label" for="min" style="width: 100%">Минут</label>
                  <input type="number" id="min" name="min" class="form-control" style="width: fit-content" value="{{min}}">
                </div>
              </div>
                  <div class="my-3 col-4">
                <div class="">
                  <label class="form-check-label" for="hour" style="width: 100%">Часов</label>
                  <input type="number" id="hour" name="hour" class="form-control" style="width: fit-content" value="{{hour}}">
                </div>
              </div>
                  <div class="my-3 col-4">
                <div class="">
                  <label class="form-check-label" for="day" style="width: 100%">Дней</label>
                  <input type="number" id="day" name="day" class="form-control" style="width: fit-content" value="{{day}}">
                </div>
              </div>
                  <div class="my-3 col-4">
                <div class="">
                  <label class="form-check-label" for="month" style="width: 100%">Месяцев</label>
                  <input type="number" id="month" name="month" class="form-control" style="width: fit-content" value="{{month}}">
                </div>
              </div>
                  <div class="my-3 col-4">
                <div class="">
                  <label class="form-check-label" for="year" style="width: 100%">Лет</label>
                  <input type="number" id="year" name="year" class="form-control" style="width: fit-content" value="{{year}}">
                </div>
              </div>
                  </div>
                  <a class="btn btn-secondary tea" href="/my_profile">Сбросить</a>
                  <button type="submit" class="btn btn-primary" style="width:fit-content">Применить</button>
              </form>
            </details>

              <ul style="height:fit-content">
                {%for i in range(1, 28)%}
                <li style="height: 2.5em; margin-top: 1em">{{i}} :
                  {%if res[i - 1][1] == 0%}
                  <span class="{{theme}} wrong">{{0}}%</span>
                  {%elif 100*res[i - 1][0]/res[i - 1][1] <= 50%}
                  <span class="{{theme}} wrong">{{100*res[i - 1][0]/res[i - 1][1]|round(1)}}%</span>
                  {%else%}
                  <span class="{{theme}} right">{{(100*res[i - 1][0]/res[i - 1][1])|round(1)}}%</span>
                  {%endif%}
                  <span>Всего решено: {{res[i - 1][1]}} задач</span>
                </li>
                {%endfor%}
              </ul>
              </details>
            </div>

            {%endif%}

          </div>


        </div>
      </div>
    </div>
  </div>
    </main>
</div>



{%endblock%}