<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ЕГЭ инфа</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body id="all" class="{{theme}}">
    <header class="sticky-top" style="position: fixed; width: 100vw; ">
    <nav class="nav">
      <a class="nav-link active" aria-current="page" href="/">Ботать</a>
      <a class="nav-link" href="/register">Хочу к вам</a>
      <a class="nav-link" href="/login">Я уже смешарик</a>
      <a class="nav-link" href="/login">Профиль</a>
      <a class="nav-link" href="/settings">Настройки</a>

    </nav>
    </header>
    <div id="carouselExampleCaptions" class="carousel slide" style="margin-top: 3em; height: 57vh">
<!--      <div class="carousel-indicators">-->
<!--        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--      </div>-->
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="box">
                <img src="{{url_for('static', filename='img/img2.jpg')}}" class="" alt="...">
            </div>
                <!--          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em"></text></svg>-->
          <div class="carousel-caption d-none d-md-block">
            <h3>ЕГЭ по информатике</h3>
            <h4>Это программа сдохни или умри! </h4>
          </div>
        </div>
    </div>
    </div>


    <main style="height: fit-content; padding: 1.5em">
      <div class="container">
          <h3 style="text-align: center; margin-right: 5em">Задачи</h3>
        {%set arr=[
          " ",
          "Анализ информационных моделей",
          "Построение таблиц истинности логических выражений",
          "Поиск информации в реляционных базах данных",
          "Кодирование и декодирование информации", "Анализ и построение алгоритмов для исполнителей",
          "Определение результатов работы простейших алгоритмов",
          "Кодирование и декодирование информации. Передача информации",
          "Перебор слов и системы счисления",
          "Работа с таблицами",
          "Поиск символов в текстовом редакторе",
          "Вычисление количества информации",
          "Выполнение алгоритмов для исполнителей",
          "Организация компьютерных сетей. Адресация",
          "Кодирование чисел. Системы счисления",
          "Преобразование логических выражений",
          "Рекурсивные алгоритмы",
          "Обработки числовой последовательности",
          "Робот-сборщик монет",
          "Выигрышная стратегия. Задание 1",
          "Выигрышная стратегия. Задание 2",
          "Выигрышная стратегия. Задание 3",
          "Многопроцессорные системы",
          "Оператор присваивания и ветвления. Перебор вариантов, построение дерева",
          "Обработка символьных строк",
          "Обработка целочисленной информации",
          "Обработка целочисленной информации",
          "Программирование"
          ]%}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0">
          {%for i in range(1, 28)%}
          <div class="card mb-3 {{theme}}"  style="width: 18rem;">
            <div class="card-body" style="">
              <h5 class="card-title">№{{i}}</h5>
              <p class="card-text">{{arr[i]}}</p>
                <div class="btn-group">
                    <a href="/test/{{i}}" class="btn btn-primary tea" style="background: #7C4935; border: none; margin-bottom: 0.1em; -bottom: 1em">Тест</a>
                    <a href="/train/{{i}}" class="btn btn-primary tea" style="">Тренировка</a>
                </div>

            </div>
          </div>
          {%endfor%}
        </div>
        </div>
        <div style="margin-bottom: 5em"></div>
<!--            <h3 class="{{theme}}">FAQs</h3>-->
<!--            <div class="dropdown" style="width: fit-content;">-->
<!--              <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                Question 1-->
<!--              </a>-->
<!--              <p class="dropdown-menu {{theme}}" style="width:max-content !important; max-width: 70vw !important;">-->
<!--                Your answer 1 is not ready, soory :/ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste corporis minus et voluptatibus consequuntur quia non voluptate porro, repellat, cumque necessitatibus, explicabo provident eius eveniet libero facere. Hic, repellat provident!-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="dropdown" style="width: fit-content;">-->
<!--              <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                Question 2-->
<!--              </a>-->
<!--              <p class="dropdown-menu {{theme}}" style="width:max-content !important; max-width: 70vw !important;">-->
<!--                Your answer 2 is not ready, soory :/-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="dropdown" style="width: fit-content;">-->
<!--              <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                Question 3-->
<!--              </a>-->
<!--              <p class="dropdown-menu {{theme}}" style="width:max-content !important; max-width: 70vw !important;">-->
<!--                Your answer 3 is not ready, soory :/-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="dropdown" style="width: fit-content;">-->
<!--              <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                Question 4-->
<!--              </a>-->
<!--              <p class="dropdown-menu {{theme}}" style="width:max-content !important; max-width: 70vw !important;">-->
<!--                Your answer 4 is not ready, soory :/-->
<!--              </p>-->
<!--            </div>-->

        </div>



    </main>

   <footer class="fixed-bottom d-flex flex-wrap justify-content-between align-items-center py-3 border-top" >
    <p class="col-md-4 mb-0 text-muted">&copy; 2024 Company, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
    </ul>
  </footer>
</body>
</html>