{% extends "base.html" %}

{%block content%}
<div class="container">
    <main class="{{theme}}">
        <div class="container">
          <div class="width1">
            <form class="" method="POST">
              <div class="row g-3">
                  {% for task in tasks %}
                <div class="col-12">
                    <span style="font-size: 1.1rem; font-style: italic">id {{task[0]}}</span>
                    {%if task[7] == 'base'%}
                    <p>Сложность: база</p>
                    {%elif task[7] == 'ke'%}
                    <p>Сложность: сюрприз от Кирилла Евгеньевича</p>
                    {%else%}
                    <p>Сложность: решаемо</p>
                    {%endif%}
                    <label for="{{task[0]}}" class="form-label">{{task[1]}}</label>
                    {%if task[10] != None%}
                    <div class="d-flex">
                        <img src="{{url_for('static', filename=task[10])}}" style="max-width: 20vh; height: auto; margin-bottom:1em;">
                        {%if task[11] != None%}
                        <img src="{{url_for('static', filename=task[11])}}" style="max-width: 15vh; height: auto; margin-left:1em; margin-bottom:1em;">
                        {%endif%}
                    </div>
                    {%endif%}
                    <input type="number" name="{{task[0]}}" class="form-control" id="{{task[0]}}" placeholder="" value="">
                    {%if task[8]%}
                    <h5>Файлы для скачивания:</h5>
                    <a href="{{url_for('static', filename=task[9])}}" download target="_blank" style="text-decorations: none">{{task[9][6:]}}</a>
                    {%endif%}

                </div>
                  {% endfor %}
              </div>
                <hr class="my-4">
                {%if not if_work%}
                <input type="checkbox" class="form-check-input" id="show-ans" name="show">
                <label class="form-check-label" for="show-ans">Показать ответы </label>
              <hr class="my-4">
                {%endif%}

              <button class=" btn btn-primary btn-lg" type="submit" style="width: fit-content">Проверить</button>
            </form>
          </div>
        </div>
    </main>

</div>


{%endblock%}