{% extends "base.html" %}

{%block content%}
<div class="container">
    <main class="{{theme}}">
        <div class="container">
          <div class="width1">
            <form class="" method="POST">
              <div class="row g-3">
                  {% for task in tasks %}
                <div class="col-12">
                    {%if not if_work%}
                    <span style="font-size: 1.1rem; font-style: italic">id {{task[0]}}</span>
                    {%endif%}
                    {%if task[7] == 'base'%}
                    <p>Сложность: база</p>
                    {%elif task[7] == 'ke'%}
                    <p>Сложность: сюрприз от Кирилла Евгеньевича</p>
                    {%else%}
                    <p>Сложность: решаемо</p>
                    {%endif%}
                    <label for="{{task[0]}}" class="form-label">{{task[1]}}</label>
                    {%if task[9] != []%}
                    <div class="d-flex">
                        {%for img in task[9]%}
                        <img src="{{url_for('static', filename=img)}}" style="max-height: 20vh; width: auto; margin-bottom:1em;">
                        {%endfor%}
                    </div>
                    {%endif%}
                    <input type="number" name="{{task[0]}}" class="form-control" id="{{task[0]}}" placeholder="" value="">
                    {%if task[8] != []%}
                    <h5>Файлы для скачивания:</h5>
                    {%for file in task[8]%}
                    <a href="{{url_for('static', filename=file)}}" download target="_blank" style="text-decorations: none">{{file[6:]}}</a>
                    {%endfor%}
                    {%endif%}

                </div>
                  {% endfor %}
              </div>
                <hr class="my-4">
                {%if not if_work%}
                <input type="checkbox" class="form-check-input" id="show-ans" name="show">
                <label class="form-check-label" for="show-ans">Показать ответы </label>
              <hr class="my-4">
                {%endif%}

              <button class=" btn btn-primary btn-lg" type="submit" style="width: fit-content">Проверить</button>
            </form>
          </div>
        </div>
    </main>

</div>


{%endblock%}