{% extends "base.html" %}

{%block content%}
<div class="container">
    <main class="{{theme}}">
        <div class="container">
          <div class="width1">
              <div class="row g-3">
                  {% for i in range(tasks|length) %}
                <div class="col-12 {{theme}}" id="card-task{{i}}">
                    <span style="font-size: 1.1rem; font-style: italic">id {{tasks[i][0]}}</span>
                    {%if tasks[i][6] == 'base'%}
                    <p>Сложность: база</p>
                    {%elif tasks[i][6] == 'ke'%}
                    <p>Сложность: сюрприз от Кирилла Евгеньевича</p>
                    {%else%}
                    <p>Сложность: решаемо</p>
                    {%endif%}
                    <label for="task{{i}}" class="form-label">{{tasks[i][1]}}</label>
                    <input type="text" name="task{{i}}" class="form-control" id="task{{i}}" placeholder="" value="">
                    <div ><output id="val{{i}}"></output></div>
<!--                    <script>-->
<!--                      const val = document.querySelector("#val{{i}}");-->
<!--                      const input = document.querySelector("#task{{i}}");-->
<!--                      const answer = {{tasks[i][2]}};-->
<!--                      const element = document.getElementById("card-task{{i}}");-->
<!--                      input.addEventListener("input", (event) => {-->
<!--                        console.log(input.value, answer, {{i}});-->
<!--                        if (input.value == answer){-->
<!--                            val.textContent = "Верный ответ";-->
<!--                            element.classList.remove('wrong');-->
<!--                            element.classList.add('right');-->
<!--                        }-->
<!--                        else{-->
<!--                            val.textContent = "Неверный ответ";-->
<!--                            element.classList.remove('right');-->
<!--                            element.classList.add('wrong');-->
<!--                        }-->
<!--                        if (input.value == ''){-->
<!--                            val0.textContent = "";-->
<!--                            element.classList.remove('right');-->
<!--                            element.classList.remove('wrong');-->
<!--                        }-->
<!--                      });-->
<!--                    </script>-->
                    <div>
                        <details>
                            <summary>Показать ответ</summary>
                            <p id="ans">{{tasks[i][2]}}</p>
                        </details>
                        <details>
                            <summary>Показать решение</summary>
                            <p>{{tasks[i][5]|safe}}</p>
                        </details>
                    </div>
                </div>
                  {% endfor %}
              </div>

          </div>
        </div>
    </main>

</div>

{%endblock%}